@page
@model MegaDeskWeb.Pages.DeskQuotes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DeskQuote</h4>
<hr />
<div class="row" style="display:flex; justify-content:space-between">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DeskQuote.CustomerName" class="control-label"></label>
                <input asp-for="DeskQuote.CustomerName" class="form-control" />
                <span asp-validation-for="DeskQuote.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.Date" class="control-label"></label>
                <input asp-for="DeskQuote.Date" class="form-control" />
                <span asp-validation-for="DeskQuote.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.Desk.Width" class="control-label"></label>
                <input asp-for="DeskQuote.Desk.Width" class="form-control" />
                <span asp-validation-for="DeskQuote.Desk.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.Desk.Depth" class="control-label"></label>
                <input asp-for="DeskQuote.Desk.Depth" class="form-control" />
                <span asp-validation-for="DeskQuote.Desk.Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.Desk.NumberOfDrawer" class="control-label"></label>
                <input asp-for="DeskQuote.Desk.NumberOfDrawer" class="form-control" />
                <span asp-validation-for="DeskQuote.Desk.NumberOfDrawer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.Desk.Material" class="control-label"></label>
                <select name="maaterialSelect" asp-items="Model.materials"></select>
                <span asp-validation-for="DeskQuote.Desk.Material.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.Shipping" class="control-label"></label>
                <select name="shipSelect" asp-items="Model.shippings"></select>
                <span asp-validation-for="DeskQuote.Shipping.Type" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="col-sm-6" style="background-color: powderblue; display:flex; flex-wrap: wrap; justify-content: space-between;
    align-items: center;">
        <figure>
            <img src="~/Images/Laminate.jpg" />
            <figcaption style="text-align:center; font-weight:600">Laminate</figcaption>
        </figure>
        <figure>
            <img src="~/Images/Oak.jpg" />
            <figcaption style="text-align:center; font-weight:600">Oak</figcaption>
        </figure>
        <figure>
            <img src="~/Images/Pine.jpg" />
            <figcaption style="text-align:center; font-weight:600">Pine</figcaption>
        </figure>
        <figure>
            <img src="~/Images/Rosewood.jpg" />
            <figcaption style="text-align:center; font-weight:600">Rosewood</figcaption>
        </figure>
        <figure>
            <img src="~/Images/Veneer.jpg" />
            <figcaption style="text-align:center; font-weight:600">Veneer</figcaption>
        </figure>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
